[submodule "submodules/evernote_mail"]
	path = submodules/evernote_mail
	url = git@github.com:rcmdnk/evernote_mail.git
[submodule "submodules/trash"]
	path = submodules/trash
	url = git@github.com:rcmdnk/trash.git
[submodule "submodules/escape_sequence"]
	path = submodules/escape_sequence
	url = git@github.com:rcmdnk/escape_sequence.git
[submodule "submodules/gtask"]
	path = submodules/gtask
	url = git@github.com:rcmdnk/gtask.git
[submodule "submodules/multi_clipboard"]
	path = submodules/multi_clipboard
	url = git@github.com:rcmdnk/multi_clipboard.git
[submodule "submodules/stow_reset"]
	path = submodules/stow_reset
	url = git@github.com:rcmdnk/stow_reset
[submodule "submodules/sd_cl"]
	path = submodules/sd_cl
	url = git@github.com:rcmdnk/sd_cl
[submodule "submodules/sentaku"]
	path = submodules/sentaku
	url = git@github.com:rcmdnk/sentaku
[submodule "submodules/kk"]
	path = submodules/kk
	url = git@github.com:rcmdnk/kk.git
[submodule "submodules/shell-explorer"]
	path = submodules/shell-explorer
	url = git@github.com:rcmdnk/shell-explorer
[submodule "submodules/shell-logger"]
	path = submodules/shell-logger
	url = git@github.com:rcmdnk/shell-logger.git
[submodule "external/apt-cyg"]
	path = external/apt-cyg
	url = git@github.com:kou1okada/apt-cyg.git
[submodule "submodules/ParallelOperation"]
	path = submodules/ParallelOperation
	url = git@github.com:rcmdnk/ParallelOperation.git
[submodule "submodules/gcp-tools"]
	path = submodules/gcp-tools
	url = git@github.com:rcmdnk/gcp-tools.git
[submodule "submodules/gmail_filter_manager"]
	path = submodules/gmail_filter_manager
	url = git@github.com:rcmdnk/gmail_filter_manager
[submodule "submodules/gcalcli"]
	path = submodules/gcalcli
	url = git@github.com:rcmdnk/gcalcli.git
[submodule "external/github-markdown-toc"]
	path = external/github-markdown-toc
	url = git@github.com:ekalinin/github-markdown-toc
