[submodule "submodules/gcalcli"]
	path = submodules/gcalcli
	url = git@github.com:insanum/gcalcli.git
[submodule "submodules/evernote_mail"]
	path = submodules/evernote_mail
	url = git@github.com:rcmdnk/evernote_mail.git
